* {
  padding: 8px;
  position: center;
  margin: 0;
  box-sizing: border-box;
}
  
  /* background */
  body {
    background: #111;
    text-align: center;
  }
  
  /* header */
  h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    color: #fff;
  }
  
  /* buttons */
  .button {
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: 0;
    color: #fff;
    transition: all ease 300ms;
  }
  .button {
    color: #333;
    background: #fff;
  }
  

